.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  width: 500px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.body {
  margin: 20px 0;
}

.access-list {
  margin: 20px 0;
  text-align: left;
}

.access-list h4 {
  margin-bottom: 10px;
}

.access-list ul {
  list-style-type: none;
  padding: 0;
}

.access-list li {
  margin: 5px 0;
  font-size: 0.9rem;
}

.footer {
  display: flex;
  justify-content: space-around;
}

#cancelBtn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#cancelBtn:hover {
  background-color: darkred;
}

button {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: royalblue;
}

.address {
  display: block;
  margin: auto;
  height: 30px;
  width: 330px;
  text-align: center;
}

input[type="text"]:focus {
  background-color: lightblue;
}